In [1]:
import pandas as pd

In [58]:
raw = pd.read_csv("youbike.csv")
raw=raw.rename(columns={'Unnamed: 1':"站點"})
raw=raw.rename(columns={'Unnamed: 2':"車柱數量"})
raw.head()

,Unnamed: 0,站點,車柱數量,6/10,1:00,Unnamed: 5,Unnamed: 6,2:00,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,0:00,Unnamed: 61,Unnamed: 62,1:00.1,Unnamed: 64,2:00.1,Unnamed: 66,3:00.1,Unnamed: 68
0,區域,租賃站點查詢,車柱數量,NaN,可借車輛,可停空位,變動量,可借車輛,可停空位,變動量,...,變動量,可借車輛,可停空位,變動量,可借車輛,可停空位,NaN,NaN,NaN,NaN
1,大安區,捷運科技大樓站,11,NaN,6,5,0,6,5,0,...,1,10,2,-2,8,4,NaN,NaN,NaN,NaN
2,大安區,復興南路二段273號前,15,NaN,11,4,0,11,4,0,...,-1,11,4,-1,10,5,NaN,NaN,NaN,NaN
3,大安區,國北教大實小東側門,16,NaN,9,7,0,9,7,0,...,0,16,0,-12,4,12,NaN,NaN,NaN,NaN
4,大安區,和平公園東側,11,NaN,7,4,1,8,3,0,...,0,1,10,2,3,8,NaN,NaN,NaN,NaN

In [69]:
df[df['站點'] == '捷運公館站(2號出口)']

,站點,車柱數量,Unnamed: 6,Unnamed: 9,Unnamed: 13,Unnamed: 16,Unnamed: 19,Unnamed: 22,Unnamed: 25,Unnamed: 28,...,Unnamed: 34,Unnamed: 37,Unnamed: 40,Unnamed: 43,Unnamed: 46,Unnamed: 49,Unnamed: 52,Unnamed: 55,Unnamed: 59,Unnamed: 62
49,捷運公館站(2號出口),60,0,0,-27,4,-4,7,-6,-1,...,20,-22,15,-9,-6,10,3,4,5,-7

In [68]:
raw = pd.read_csv("youbike.csv")
raw=raw.rename(columns={'Unnamed: 1':"站點"})
raw=raw.rename(columns={'Unnamed: 2':"車柱數量"})
savedCol = ['站點',"車柱數量"]
for col in raw.columns:
    if raw[col][0] == "變動量":
        savedCol.append(col)
df = raw[savedCol]
pickedStop = ['捷運公館站(2號出口)', '臺大總圖書館西南側', '臺大社科院西側']
data = {}
for stop in pickedStop:
    tmp = [int(x) for x in (df[df['站點'] == stop]).values[0][1:]]
    data[stop] = tmp
data

{'捷運公館站(2號出口)': [60,
  0,
  0,
  -27,
  4,
  -4,
  7,
  -6,
  -1,
  4,
  20,
  -22,
  15,
  -9,
  -6,
  10,
  3,
  4,
  5,
  -7],
 '臺大總圖書館西南側': [30,
  0,
  0,
  9,
  5,
  2,
  0,
  2,
  0,
  3,
  3,
  -21,
  -2,
  2,
  0,
  -3,
  0,
  0,
  0,
  0],
 '臺大社科院西側': [26,
  0,
  0,
  10,
  2,
  -4,
  15,
  0,
  -12,
  12,
  -10,
  -12,
  0,
  -1,
  0,
  2,
  -2,
  0,
  0,
  0]}

In [90]:
import requests
import json
import pickle
import time

In [ ]:
cnt = 60
while(cnt<120):
    url = "https://apis.youbike.com.tw/api/front/station/all?lang=zh&type=2"
    data = requests.get(url).json()
    data = [_dict for _dict in data["retVal"] if _dict['area_code'] == "00"]
    current_time = data[0]['time']

    save_data = []
    for stop_info in data:
        save_data.append({'time':stop_info['time'], 'name_tw':stop_info['name_tw'],'parking_spaces':stop_info['parking_spaces'],
                                       'available_spaces':stop_info['available_spaces'],'empty_spaces':stop_info['empty_spaces'],
                                       'updated_at':stop_info['updated_at']})

    f = open("20200617data/"+str(cnt)+".pkl","wb")
    pickle.dump(save_data,f)
    f.close()
    time.sleep(300)
    cnt+=1

In [92]:
current_time[11:].replace(":", "-")

'09-40-44'